.margin3  
  %h1{:class => I18n.locale} لیست گروه ویزاها
  -if is_admin?
    = link_to 'تعریف گروه ویزا جدید', new_visa_type_path, :class => "btn btn-success"


  %table.table.city
    %tr
      %th ردیف    
      %th عنوان گروه      
      %th

    - @visa_types.each_with_index do |visa_type, i|
      %tr
        %td= (i+1)
        %td= visa_type.title        
        %td
          -if is_admin?
            = link_to 'مشاهده', visa_type, :class => "btn btn-warning"
            = link_to 'ویرایش', edit_visa_type_path(visa_type), :class => "btn btn-info"
            = link_to 'حذف', visa_type, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }, :class => "btn btn-danger"

          

