= form_for @link , :html => { :multipart => true  } do |f|
  - if @link.errors.any?
    #error_explanation
      
      %ul
        - @link.errors.each do |attr, msg|
          %li= msg
  .row-fluid    
    .span12
      .span6
        .field
          = f.label 'وب سایت'
          = f.text_field :web_site
        .field
          = f.label 'تصویر'
          = f.file_field :image
      .span6
        .field
          = f.label 'عنوان فارسی'
          = f.text_field :title_fa
        .field
          = f.label 'عنوان انگلیسی'
          = f.text_field :title_en
        .field
          = f.label 'عنوان عربی'
          = f.text_field :title_ar  
    .span12         
      .actions
        = f.submit 'ثبت', :class => "btn"
