%h1 لیست پیوندهای مرتبط
-if is_admin?
  = link_to 'افزودن پیوند جدید', new_link_path, :class => "btn"
%table.table
  %tr
    %th ردیف
    %th عنوان    
    %th وب سایت    
    %th
    %th

  - @links.each_with_index do |link, i|
    %tr
      %td= (i+1)
      %td= link.title      
      %td= link_to link.web_site, url_with_protocol(link.web_site) 
      %td= image_tag link.image(:small)
      %td
        -if is_admin?
          = link_to 'Show', link
          = link_to 'Edit', edit_link_path(link)
          = link_to 'Destroy', link, :method => :delete, :data => { :confirm => 'Are you sure?' }


