%p#notice= notice

%p
  %b Title fa:
  = @link.title_fa
%p
  %b Title en:
  = @link.title_en
%p
  %b Title ar:
  = @link.title_ar
%p
  %b Web site:
  = @link.web_site

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
