%p#notice= notice

%p
  %b عنوان لینک
  = @link.title

%p
  %b وب سایت
  =link_to @link.web_site, url_with_protocol(@link.web_site)  
%div
  = image_tag @link.image(:medium)

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
