%h1 Listing locationtours

%table
  %tr
    %th Hotel
    %th City
    %th Price
    %th
    %th
    %th

  - @locationtours.each do |locationtour|
    %tr
      %td= locationtour.hotel_id
      %td= locationtour.city_id
      %td= locationtour.price
      %td= link_to 'Show', locationtour
      %td= link_to 'Edit', edit_locationtour_path(locationtour)
      %td= link_to 'Destroy', locationtour, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Locationtour', new_locationtour_path
