.margin3.fa   
  
  %h1= 'افزودن محل برای تور برای  ' + @tour.title_fa
  .col-xs-4.well
    = render 'form'
  .col-xs-4
    - @tour.locationtours.each_with_index do |location, i|
      %p= (i+1)
      %p
        %b= 'کشور'
        = location.city.country.title_fa
      %p
        %b= 'شهر'
        = location.city.title_fa
      %p
        %b= 'هتل'
        = location.hotel.title_fa
      %p
        %b= 'قیمت'
        = location.price
      %hr
  
  = link_to 'بازگشت', locationtours_path
