!!!
/ Microdata markup added by Google Structured Data Markup Helper.
%html
  %head
    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{:charset => "utf-8"}  
    %title= "آژانس مسافرتی هواپیمایی رادان سیر"    
    %meta{:name => "robots", :content => "Index,follow"}
    %meta{:name => "googlebot", :content => "archive"}
    %meta{:name => "slurp", :content => "Index,follow"}
    %meta{:name => "msnbot", :content => "Index,follow"}
    %meta{:name => "teoma", :content => "Index,follow"}
    %meta{:content => "8ana4hAqdsH47iRKOF8mRJ50NCHxxcp9G58sWpS4w_g", :name => "google-site-verification"}    
    %meta{:name => "description", :content => "Radan Travel Agency, آژانس هواپیمایی رادان سیر, خاطره انگیزترین سفرهایتان رابا رادان سیرتجربه کنید شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر با حدود 10 سال سابقه در صنعت گردشگری و به کار گیری کادر اجرایی کارآزموده، متخصص و با تجربه، به یکی از شرکت های برتر در زمینه برنامه ریزی، سازماندهی و اجرای تورهای داخلی، تورهای خارجی و تورهای ورودی در بازار گردشگری ایران تبدیل شده است."}    
    %meta{:name => "keywords", :content =>  "آژانس هواپیمایی رادان سیر آژانس هواپیمایی ویزا صدور ویزا بازدید از ایران  آژانس تورهای لحظه ای تورهای لحظه آخر سفر مسافرت شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر"}
    %meta{:content => "گروه مهندسین راش", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    
    
    = stylesheet_link_tag    'application', media: 'all' 
    = javascript_include_tag 'application'     
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png', :title => "آژانس هواپیمایی رادان سیر"
    
  %body
    .main{:class => I18n.locale}
      - if @page_slides.present?
        = render "slides/slider", :slides => @page_slides
      - elsif @other_slides.present?
        = render "slides/slider", :slides => @other_slides
      - else
        = render "slides/slider", :slides => Slide.all      
      .logo.col-xs-12
        .col-xs-5.top_site
          = render 'shared/top_site_en'
        .col-xs-7.nav-bar{:style => "padding:0"}
          = render 'shared/menu_bar'
        
      .flag_bar
        = link_to (image_tag 'flag/en_sm.png'), root_path(locale: :en), :title => "Travel Agency Radan Travel"
        = link_to (image_tag 'flag/ir_sm.png'), root_path(locale: :fa), :title => "آژانس_هواپیمایی_رادان_سیر"
        = link_to (image_tag 'flag/ar_sm.png'), root_path(locale: :ar), :title => "وكالة سفر رادان"  
              
      = render 'shared/reservation_search_tour'
      - if current_page?('/') 
        = render 'shared/four_main_icon'
      - elsif current_page?(Sight) 
        = render 'sights/five_sight_icon'
      - if params[:controller] == 'hotels'
        = render 'shared/multi_slider_hotel'
      - elsif params[:controller] == 'sights'
        = render 'shared/multi_slider_visit_iran'
      - else
        = render 'shared/multi_slider_search_tour', :tours => Tour.all
      = link_to '', '#', :name => "#top", :id => "page-top", :title => "آژانس هواپیمایی رادان سیر"
      .yield.clear-float{:class => I18n.locale}
        = link_to '', '#', :name => "yield", :id => "yieldAnchor", :title => "آژانس هواپیمایی رادان سیر"
        = yield
        - if current_page?('/') 
          .keywords
            %p= t('Keywords.title')
            %ul.tag-cloud.full-width{:class => I18n.locale}
              %li.tag-cloud
                = link_to t('radantravel'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.a'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.b'), '/'              
              %li.tag-cloud
                = link_to t('Keywords.s'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.w'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.c'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.d'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.f'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.g'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.h'), Sight
              %li.tag-cloud
                = link_to t('Keywords.l'), Sight
              %li.tag-cloud
                = link_to t('Keywords.m'), Sight
              %li.tag-cloud
                = link_to t('Keywords.n'), Sight
              %li.tag-cloud
                = link_to t('Keywords.e'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.p'), '/' 
              
      .footer.col-xs-12 
        .contact-box.col-xs-3.pull-right       
          .contact-form.pull-right{:class => I18n.locale}
            = render 'shared/msg_form' 
        .col-xs-3.pull-right#contact-infomation
          %h4.contact{:class => I18n.locale}= t('contact-info')          
          .contact-info
            - if @contact.present?
              %div{:class => I18n.locale, :style => "height:100px", :title => "آژانس هواپیمایی رادان سیر"}
                =raw @contact.text
          .clear-float
          %h4.contact{:class => I18n.locale, :style => "margin-top:50px;"}= t('sitevisit.statistics')          
          .col-xs-11.visit-statistics{:style => "margin-left:2%; margin-top:5%"}  
            %p{:class => I18n.locale}
              %b= t('sitevisit.total-views')
              =  Visit.all.count
            %p{:class => I18n.locale}
              %b= t('sitevisit.visits-today')
              =  @online_day
            %p{:class => I18n.locale}
              %b= t('sitevisit.online-number')
              = @online_now    
        -#
          .col-xs-3.set-center#footer-link
            = render 'shared/footer_menu'
          .col-xs-3
            %h4{:class => I18n.locale}=  t('request-tour.request-tour-form')
            - if flash[:SendCustomTour].present?
              .alert.alert-success{:style => "position: absolute;z-index: 10;width: 90%;"}= flash[:SendCustomTour]
            = render 'custom_tours/form'
        .col-xs-3.pull-right#footer-link
          %h4.contact{:class => I18n.locale}= t('links')          
          .col-xs-12#footer_menu
            = render 'shared/footer_menu'
          
        .col-xs-3.pull-left#extra-form
          .col-xs-12 
            %h4.clear-float.extra-form-title{:class => I18n.locale}= t('subscribe_to_newsletter')
            = render 'shared/newsletter_subscribe'
          .col-xs-12{:style => "margin-top:10%;"} 
            %h4.clear-float.extra-form-title{:class => I18n.locale}= t('customer_clube')
            = render 'shared/customer_clube'
        
        -#  
          .col-xs-12.set-center
            .show-colleague{:class => I18n.locale} 
              - Link.all.each do |link|
                = link_to url_with_protocol(link.web_site), :target => "_blank", :class => "col-xs-2 colleague-box", :title => "آژانس_هواپیمایی_رادان_سیر" do    
                  = image_tag link.image(:small), :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
                  %p
                    %b{:class => I18n.locale}= link.title
      .copyright.col-xs-12= t('copyright')
        
    .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title 
              = t ('send-mail')          
          .modal-body
            = render 'send_links/form'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
    .show-social{:class => I18n.locale}     
      .col-xs-12.set-center{:style => "left:0;position: absolute; top:5%; padding-left:4%"}
        .social-icon
          = link_to url_with_protocol('www.facebook.com/pages/Radan-Seir/1560811980802648'), :target => "_blank" do
            .col-xs-4{:style => "padding:0"}= image_tag 'f.png', :title => "آژانس_هواپیمایی_رادان_سیر", :alt=> "آژانس_هواپیمایی_رادان_سیر"
            %span.col-xs-7{:class => I18n.locale, :style => "padding:0; text-align:left"}= t('facebook')
        .social-icon.clear-float
          = link_to url_with_protocol_https('ir.linkedin.com/pub/radanseir-agency/b8/46b/918'), :target => "_blank" do
            .col-xs-4{:style => "padding:0"}= image_tag 'l.png', :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
            %span.col-xs-7{:class => I18n.locale, :style => "padding:0; text-align:left"}= t('linkedin')
          

        .social-icon.clear-float
          = link_to '#', :target => "_blank" do
            .col-xs-4{:style => "padding:0"}= image_tag 'g.png', :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
            %span.col-xs-7{:class => I18n.locale, :style => "padding:0; text-align:left"}= t('googleplus')         
          
        .social-icon.clear-float
          = link_to url_with_protocol('www.instagram.com/radantravel'), :target => "_blank" do
            .col-xs-4{:style => "padding:0"}= image_tag 't.png', :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
            %span.col-xs-7{:class => I18n.locale, :style => "padding:0; text-align:left"}= t('instageram')

           
  - if is_admin?
    .admin-menu
      = render 'shared/admin_menu'
  
  = link_to '#top', :id => "go-top-page", :class => "anchorLink", :title => "آژانس هواپیمایی رادان سیر" do
    = image_tag 'gotop.png', :title => "بازگشت به بالای صفحه", :alt => "آژانس هواپیمایی رادان سیر - بازگشت به بالای صفحه"
  
  %script{:defer => "defer", :src => "https://mylivechat.com/chatinline.aspx?hccid=44039054", :type => "text/javascript"}
  :javascript  
    $('.carousel[data-type="multi"] .item').each(function(){
      var next = $(this).next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
      
      for (var i=1;i<2;i++) {
        next=next.next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }
        
        next.children(':first-child').clone().appendTo($(this));
      }
    });
    $('#package-tour1 :first').addClass('active');   
    $('#package-tour2 :first').addClass('active');
    
    $('a#go-top-page').smoothScroll();
    
    $(document).ready(function() {
      $('html, body').animate({ scrollTop: 600 }, 'slow'); 
    });
    
    $(document).ready(function() {
      $('#search-tour .tour-search-box').click(function(){
        $('#search-tour').toggleClass('show-tour-search-box');
        $('#reserv').removeClass('show-reservation-box');
        
      });
      $('#reserv .reserv-box').click(function(){
        $('#reserv').toggleClass('show-reservation-box');
        $('#search-tour').removeClass('show-tour-search-box');
      });
    });
    
  
