.margin3.margin-bottom
  .col-xs-12.margin-bottom
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}
      =link_to @continent_category.title  , @continent_category.title  
  
  - if is_admin?
    .col-xs-12
      = link_to 'ویرایش', edit_continent_category_path(@continent_category), :class => "btn btn-info" 
  - if I18n.locale == :en
    .col-xs-2.pull-left{:style => "text-align:center; margin-bottom:4%", :class => I18n.locale}     
      = link_to Tour do
        .continent{:class => ('active' if current_page?(Tour))+ ' '+ I18n.locale.to_s}
          %span.location= image_tag 'w.png'
          %span.country-title-tab= t('show-all-tours')
    
     
      %ul.tour-groups
        - ContinentCategory.offset(5).order("set_order asc").each do |continent| 
          %li
            = link_to continent do
              .continent.tour-group{:class => ('active' if current_page?(continent))}
                - if   continent.title_fa == 'تورهای تفریحی' ||  continent.title_fa == 'نوروز 94'
                  %span.location= image_tag 'arrow-bullet-right.png'
                %h4.fa.country-title-tab{ :class => ('white blink' if continent.title_fa == 'نوروز 94')}= continent.title
            - if  continent.title_fa == 'تورهای تفریحی'              
              %ul.tour-groups-sub-menu
                - ContinentCategory.all.limit(5).each do |continent|  
                  %li.tour-group-item
                    .continent-group.tour-group.filter.col-xs-12{ "data-filter" => '.category-'+continent.id.to_s}      
                      %h3.en.country-title-tab{:class => I18n.locale}
                        =  continent.title
                      - if  continent.title_fa == 'آسیا'
                        %span.location= image_tag 'arrow-bullet-right.png'

  - else
    .col-xs-2.pull-right{:style => "text-align:center; margin-bottom:4%; margin-left:0", :class => I18n.locale}     
      = link_to Tour do
        .continent{:class => ('active' if current_page?(Tour))}
          %span.location= image_tag 'w.png'
          %span.country-title-tab= t('show-all-tours')
      %ul.tour-groups
        - ContinentCategory.offset(5).order("set_order asc").each do |continent| 
          %li.tour-group-item
            = link_to continent do
              .continent.tour-group{:class => ('active' if current_page?(continent))}
                - if   continent.title_fa == 'تورهای تفریحی' ||  continent.title_fa == 'نوروز 94'
                  %span.location= image_tag 'arrow-bullet-right.png'
                %h4.fa.country-title-tab{ :class => ('white blink' if continent.title_fa == 'نوروز 94')}= continent.title
            - if  continent.title_fa == 'تورهای تفریحی'              
              %ul.tour-groups-sub-menu
                - ContinentCategory.all.limit(5).each do |continent|  
                  %li
                    .continent-group.tour-group.filter.col-xs-12{ "data-filter" => '.category-'+continent.id.to_s}      
                      %h3.en.country-title-tab{:class => I18n.locale}
                        =  continent.title
                      - if  continent.title_fa == 'آسیا'
                        %span.location= image_tag 'arrow-bullet-right.png'
                    - if  continent.title_fa == 'آسیا'
                      %ul.continent-sub-menu
                        - continent.countries.each do |country|
                          %li
                            .continent-group.tour-group.filter.col-xs-12{ "data-filter" => '.country-'+country.id.to_s}      
                              %h3.en.country-title-tab{:class => I18n.locale}
                                = country.title
                          
                          

  
  - if  @continent_category.title_fa == 'تورهای تفریحی'
    = render 'tours/fun_tours', :continent_category => @continent_category
  - else
    .show-tours.col-xs-10.set-center#Container
      -if @continent_category.tours.present?
        - @continent_category.tours.order(" created_at desc").each do |tour|
          - if tour.country_id.present? && tour.country.title_fa != 'ایران'
            .tours-index{ "data-my-order" => tour.id, :style => "width:23%"}        
              - if tour.coming_soon?
                .coming_soon= image_tag 'coming.png'
              = link_to tour, :class => "tour-box" do 
                %h5.tour-title{:class => I18n.locale}= tour.title
                - if tour.photos.present?
                  .tour-sample-image{:class => ('set-coming-soon' if tour.coming_soon?)}= image_tag tour.photos.first.image(:medium), :id => "tour-sample-image-" + tour.photos.first.id.to_s
                .clear-float
              .tour-date
                - if I18n.locale == :fa
                  = render "/tours/show_persian_date", :tour => tour
                - else  
                  = render "/tours/show_english_date", :tour => tour
              -if is_admin?
                .admin-btn-tour
                  = link_to 'ویرایش تور', edit_tour_path(tour), :class => "btn btn-info"
                  = link_to 'مشاهده جزئیات', tour, :class => "btn btn-warning"                   
                  = link_to 'حذف تور', tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
                  -#
                    = link_to 'ارسال به اعضا خبرنامه', sendtonewsletter_tour_path(tour), :class => "btn btn-default"       
                    - @send_tour = @send_tour.to_i            
                    - if @send_tour.present? && @send_tour == tour.id
                      .alert.alert-success='اطلاعات این تور برای اعضا خبرنامه ارسال شد.'
      - else
        %p= image_tag 'coming.png'
