%h2
  پروفایل #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  
  %div
    = f.label 'ایمیل:'
    %br/
    = f.email_field :email, :autofocus => true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label 'نام کاربری'
    = f.text_field :user_name
  %div
    = f.label 'رمزعبور:'
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label 'تاییده رمزعبور:'
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label 'رمزعبور جاری:'
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div= f.submit "ویرایش"
%h3 حذف حساب کاربری
%p
  Unhappy? #{button_to "حذف حساب کاربری", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
= link_to "بازگشت", :back
