.margin3
  %h1{:class => I18n.locale} لیست درخواست تورهای ایرانی

  %table.table.table-striped{id:"reserve_tour_table"}
    %thead
      %tr
        %th ردیف
        %th کدرهگیری
        %th نام و نام خانوادگی
        %th شماره تلفن
        %th ایمیل        
        %th عملیات
    %tbody{:id => "reserve_tour_container"}
      - @iran_tour_reservs.each_with_index do |iran_tour_reserv, i|
        %tr{:class => ('unvisite' if iran_tour_reserv.visited == false)}
          %td= (i+1)
          %td.en= iran_tour_reserv.track_code
          %td= iran_tour_reserv.fisrt_name + ',' + iran_tour_reserv.last_name          
          %td.en= iran_tour_reserv.phone_number
          %td.en= iran_tour_reserv.email          
          %td
            = link_to 'مشاهده', iran_tour_reserv, :class => "btn btn-warning"         
            = link_to 'حذف', iran_tour_reserv, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

 
:coffeescript
  window.reloadDataTable = ->
    if !!window.oTable
      window.oTable.fnDestroy(); 
    window.oTable = $("#reserve_tour_table").dataTable aoColumnDefs: [
      bSearchable: false
      aTargets: [0,4]
    ,  
      bSortable: false
      aTargets: [0,4]
    ],  oLanguage:
      sSearch: "جستجو:"
      sLengthMenu: "نمایش _MENU_ ردیف"
      sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
      sZeroRecords: "هیچ داده ای وجود ندارد"
      sInfoEmpty: "هیچ موردی یافت نشد"
      sInfoFiltered: " - از بین _MAX_ داده موجود"
      oPaginate:
        sPrevious: "صفحه قبلی"
        sNext: "صفحه بعدی"

  window.reloadDataTable()

     
