- Country.all.each do  |country|
  .tab-pane.fade.in.country-details{:role => "tabpanel", :id => 'country'+country.id.to_s}    
    - if is_admin?
      .admin-link
        = link_to 'ویرایش', edit_country_path(country)
    .clear-float
    .col-xs-5
      = image_tag country.photos.first.image(:medium)
    .col-xs-6.country-text{:class => I18n.locale}
      = raw country.text
    .col-xs-6
      %h2= 'شهرهای ' + country.title
      - country.cities.each do |city|        
        = link_to  city.title, city
    
    
