= form_for @country do |f|
  - if @country.errors.any?
    #error_explanation      
      %ul
        - @country.errors.each do |attr, msg|
          %li= msg
  .row-fluid    
    .span6
      .field
        = f.label 'متن فارسی'
        = f.text_area :text_fa
      .field
        = f.label 'متن انگلیسی'
        = f.text_area :text_en
      .field
        = f.label 'متن عربی'
        = f.text_area :text_ar
      .actions
        = f.submit 'ثبت', :class => "btn"
    .span6
      .field
        = f.label 'عنوان فارسی'
        = f.text_field :title_fa
      .field
        = f.label 'عنوان انگلیسی'
        = f.text_field :title_en
      .field
        = f.label 'عنوان عربی'
        = f.text_field :title_ar
