%h1
  لیست کشورها
-if is_admin?
  = link_to 'تعریف کشور', new_country_path, :class => "btn"
%table.table
  %tr
    %th ردیف
    %th نام کشور    
    %th     
    %th عملیات
    

  - @countries.each_with_index do |country, i|
    %tr
      %td= (i+1)
      %td= country.title    
      %td= image_tag country.photos.first.image(:small)
     
      %td 
        -if is_admin?
          = link_to 'نمایش', country
          \|
          = link_to 'ویرایش', edit_country_path(country)
          \|
          = link_to 'حذف', country, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }




