%h1
  لیست کشورها
-if is_admin?
  = link_to 'تعریف کشور', new_country_path, :class => ""
%table
  %tr
    %th ' نام کشور:'
    %th 'توضیحات:'
    %th
    

  - @countries.each do |country|
    %tr
      %td= country.title    
      %td= country.text      
      %td 
        -if is_admin?
          = link_to 'نمایش', country
          \|
          = link_to 'ویرایش', edit_country_path(country)
          \|
          = link_to 'حذف', country, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }




