.margin3.margin-bottom{:style => "min-height:230px;"}
  - if @tour_group.present?
    .col-xs-12.margin-bottom
      .title-tour-line.col-xs-10
      %p.col-xs-3.set-center.title-tour{:class => I18n.locale}
        - if @country.category_country_id.present?
          = link_to @tour_group.title + ',' + @country.category_country.title+',' +@country.title  , @country.title  
        - else
          = link_to @tour_group.title + ','  +@country.title  , @country.title  
    = render '/tours/country_tour_groups', :category => @tour_group, :current_country => @country
    .show-tours.col-xs-10.set-center#Container
      - @country.tours.each do |country_tour|
        - if country_tour.continent_category_id == @tour_group.id 
          .tours-index{ "data-my-order" => country_tour.id, :style => "width:23%"}        
            - if country_tour.coming_soon?
              .coming_soon= image_tag 'coming.png'
            = link_to country_tour, :class => "tour-box" do 
              %h5.tour-title{:class => I18n.locale}= country_tour.title
              - if country_tour.photos.present?
                .tour-sample-image{:class => ('set-coming-soon' if country_tour.coming_soon?)}= image_tag country_tour.photos.first.image(:medium), :id => "tour-sample-image-" + country_tour.photos.first.id.to_s
              .clear-float
            .tour-date
              - if I18n.locale == :fa
                = render "/tours/show_persian_date", :tour => country_tour
              - else  
                = render "/tours/show_english_date", :tour => country_tour      
            -if is_admin?
              .admin-btn-tour
                = link_to 'ویرایش تور', edit_tour_path(country_tour), :class => "btn btn-info"
                = link_to 'مشاهده جزئیات', country_tour, :class => "btn btn-warning"                   
                = link_to 'حذف تور', country_tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
                = link_to 'ارسال به اعضا خبرنامه', sendtonewsletter_tour_path(country_tour), :class => "btn btn-default"       
                - @send_tour = @send_tour.to_i            
                - if @send_tour.present? && @send_tour == country_tour.id
                  .alert.alert-success='اطلاعات این تور برای اعضا خبرنامه ارسال شد.'
