%p#notice= notice

%p
  %b Title 
  = @country.title

%p
  %b Text
  = raw @country.text
%div
  - @country.photos.each do |pic|
    = image_tag  pic.image(:medium)

= link_to 'Edit', edit_country_path(@country)
\|
= link_to 'Back', countries_path
