.margin3  
  
  - if is_admin?
    .col-xs-12
      = link_to 'ویرایش کشور', edit_country_path(@country), :class => "btn btn-info" 
  .col-xs-12.margin-bottom5
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}= @country.title
    
  .col-xs-12.margin-bottom5.country-text{:class => I18n.locale}= raw @country.text
  
  .col-xs-12.margin-bottom5
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}= t('city')
  .col-xs-12.margin-bottom5
    %ul{:class => I18n.locale}
      - @country.cities.order('title_fa asc').each do |city|
        - if I18n.locale == :en
          %li.col-xs-3.city-title.pull-left= link_to city.title, city
        - else
          %li.col-xs-3.city-title.pull-right= link_to city.title, city
  .col-xs-12.margin-bottom5
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}= t('hotel')
  .col-xs-12.margin-bottom5  
    - @country.cities.order('title_fa asc').each do |city|
      -if city.hotels.present?
        .show-tours.col-xs-12.set-center
          - city.hotels.order('title_fa asc').each_with_index do |hotel, i|
            .tours-index{:class => "iran-city-" + hotel.city.id.to_s, "data-my-order" => hotel.id}
              = link_to hotel, :class => "tour-box", :title => "آژانس_هواپیمایی_رادان_سیر" do
                %h5.tour-title{:id => "hotel-"+hotel.id.to_s}= hotel.title          
                - if hotel.photos.present?
                  .hover.panel{:id => "item-"+ (i+1).to_s}
                    .front
                      .pad.tour-sample-image= image_tag hotel.photos.first.image(:medium), :id => "tour-sample-image-" + hotel.photos.first.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
                    .back
                      .pad.tour-sample-image= image_tag hotel.photos.last.image(:medium), :id => "tour-sample-image-" + hotel.photos.last.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
                .clear-float 
                .some-info 
                  %p
                    %span=image_tag 'Star.png'
                    - if hotel.class_hotel_id.present?
                      %span.en= hotel.class_hotel.title
                  %p= hotel.city.country.title + ' , ' + hotel.city.title
              -if is_admin?
                .admin-btn-tour
                  = link_to 'مشاهده', hotel, :class => "btn btn-warning"   , :title => "آژانس_هواپیمایی_رادان_سیر"    
                  = link_to 'ویرایش', edit_hotel_path(hotel), :class => "btn btn-info", :title => "آژانس_هواپیمایی_رادان_سیر"
                  = link_to 'حذف', hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger", :title => "آژانس_هواپیمایی_رادان_سیر"
      

  
    
  
