%h1 لیست هتل ها
-if is_admin?
  = link_to 'معرفی هتل جدید', new_hotel_path, :class => "btn"
%table.table
  %tr
    %th ردیف
    %th نام هتل    
    %th شهر محل هتل
    %th درجه هتل
    %th امکانات هتل
    %th     
    %th عملیات
    

  - @hotels.each_with_index do |hotel, i|
    %tr
      %td= (i+1)
      %td= hotel.title      
      %td= hotel.city.title
      %td= hotel.hotel_grade
      %td= hotel.hotel_facilities
      %td= image_tag hotel.photos.first.image(:small)
      %td
        = link_to 'مشاهده', hotel
        = link_to 'Edit', edit_hotel_path(hotel)
        = link_to 'Destroy', hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }




