.margin3
  %h1 لیست هتلها
  -if is_admin?
    = link_to 'معرفی هتل جدید', new_hotel_path, :class => "btn btn-success"
    
  .show-tours.col-xs-12.set-center
    - @hotels.each_with_index do |hotel|
      .tour-box.well
        = link_to hotel do
          %h3= hotel.title 
          .clear-float
          %p= hotel.city.title                    
          %p= hotel.hotel_grade                    
          = image_tag hotel.photos.first.image(:medium)
          
        -if is_admin?
          .admin-btn-tour
            = link_to 'مشاهده', hotel, :class => "btn btn-warning"       
            = link_to 'ویرایش', edit_hotel_path(hotel), :class => "btn btn-info"
            = link_to 'حذف', hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"
