.margin3
  %h1{:class => I18n.locale}=' لیست هتلها'
  -if is_admin?
    = link_to 'معرفی هتل جدید', new_hotel_path, :class => "btn btn-success"
  .show-tours.col-xs-12.set-center
    - @hotels.each_with_index do |hotel|
      .tours-index
        = link_to hotel, :class => "tour-box" do
          %h5.tour-title= hotel.title
          - if hotel.photos.present?
            .tour-sample-image= image_tag hotel.photos.first.image(:medium), :id => "tour-sample-image-" + hotel.photos.first.id.to_s
          .clear-float  
  
          
        -if is_admin?
          .admin-btn-tour
            = link_to 'مشاهده', hotel, :class => "btn btn-warning"       
            = link_to 'ویرایش', edit_hotel_path(hotel), :class => "btn btn-info"
            = link_to 'حذف', hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"
