.margin3  
  .col-xs-12.margin-bottom5
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}= @hotel.title
  
  -if is_admin?    
    = link_to 'ویرایش', edit_hotel_path(@hotel), :class => "btn btn-info"
  .col-xs-12.margin-bottom
    .col-xs-12
      -#
        %h3{:class => I18n.locale, :style => 'text-align:center'}
          = @hotel.city.country.title + ' - '+ @hotel.city.title
        %p
          - if @hotel.class_hotel_id.present?
            %p
              %span=image_tag 'Star.png'
              .en= @hotel.class_hotel.title
      - if @hotel.text.present?        
        .col-xs-12.margin-bottom5
          .title-line.col-xs-10
          %p.col-xs-2.set-center.title{:class => I18n.locale}= t('tour.description')
          
        .col-xs-12=raw @hotel.text
      
    
      - if @hotel.hotel_facilities.present?
        .col-xs-12.margin-bottom5
          .title-line.col-xs-10
          %p.col-xs-2.set-center.title{:class => I18n.locale}= t('hotel-facilities')
       
          .col-xs-12= @hotel.hotel_facilities
  
    .col-xs-12        
      = render 'shared/items_images_sliders', :model => @hotel
    
    
  .clear-float    
  .keywords.full-width
    %p= t('Keywords.title')
    %ul.tag-cloud.full-width{:class => I18n.locale}
      %li.tag-cloud
        = link_to t('radantravel'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.a'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.b'), '/'
      %li.tag-cloud
        = link_to t('Keywords.s'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.w'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.c'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.d'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.f'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.g'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.h'), Sight
      %li.tag-cloud
        = link_to t('Keywords.l'), Sight
      %li.tag-cloud
        = link_to t('Keywords.m'), Sight
      %li.tag-cloud
        = link_to t('Keywords.n'), Sight
      %li.tag-cloud
        = link_to t('Keywords.e'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.p'), '/' 
      %li.tag-cloud
        = link_to @hotel.title, @hotel, :title => @hotel.title
      - if @hotel.class_hotel_id.present?
        %li.tag-cloud
          = link_to @hotel.class_hotel.title + t('Keywords.star'), @hotel, :title => @hotel.title

