.margin3  
  %h1.title-tours{:class => I18n.locale}=  @hotel.title
  -if is_admin?    
    = link_to 'ویرایش', edit_hotel_path(@hotel), :class => "btn btn-info"
  .col-xs-12.margin-bottom
    .col-xs-7        
      = render 'shared/items_images_sliders', :model => @hotel
    .col-xs-5
      %p
        %b توضیحات تکمیلی
        =raw @hotel.text
      %p
        %b محل هتل
        = @hotel.city.country.title + ' - '+ @hotel.city.title
      %p
        - if @hotel.class_hotel_id.present?
          %b درجه هتل
          %p
            %span=image_tag 'Star.png'
            = @hotel.class_hotel.title
      %p
        %b امکانات هتل
        = @hotel.hotel_facilities
  
    
  .clear-float    
  

