.margin3  
  %h1.title-tours{:class => I18n.locale}=  @hotel.title
  -if is_admin?    
    = link_to 'ویرایش', edit_hotel_path(@hotel), :class => "btn btn-info"
  .col-xs-12.margin-bottom
    .col-xs-12
      %p
        %b توضیحات تکمیلی
        =raw @hotel.text
      %p
        %b محل هتل
        = @hotel.city.country.title + ' - '+ @hotel.city.title
      %p
        - if @hotel.class_hotel_id.present?
          %b درجه هتل
          %p
            %span=image_tag 'Star.png'
            = @hotel.class_hotel.title
      %p
        %b امکانات هتل
        = @hotel.hotel_facilities
  
    .col-xs-12        
      = render 'shared/items_images_sliders', :model => @hotel
    
    
  .clear-float    
  .keywords.full-width
    %p= t('Keywords.title')
    %ul.tag-cloud.full-width{:class => I18n.locale}
      %li.tag-cloud
        = link_to t('radantravel'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.a'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.b'), '/'
      %li.tag-cloud
        = link_to t('Keywords.s'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.w'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.c'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.d'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.f'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.g'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.h'), Sight
      %li.tag-cloud
        = link_to t('Keywords.l'), Sight
      %li.tag-cloud
        = link_to t('Keywords.m'), Sight
      %li.tag-cloud
        = link_to t('Keywords.n'), Sight
      %li.tag-cloud
        = link_to t('Keywords.e'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.p'), '/' 
      %li.tag-cloud
        = link_to @hotel.title, @hotel, :title => @hotel.title
      - if @hotel.class_hotel_id.present?
        %li.tag-cloud
          = link_to @hotel.class_hotel.title + t('Keywords.star'), @hotel, :title => @hotel.title

