%p#notice= notice

%p
  %b نام هتل
  = @hotel.title
%p
  %b توضیحات تکمیلی
  =raw @hotel.text
%p
  %b شهر محل هتل
  = @hotel.city.title
%p
  %b درجه هتل
  = @hotel.hotel_grade
%p
  %b امکانات هتل
  = @hotel.hotel_facilities
.row-fluid
  - @hotel.photos.each do |pic|
    .span6
      = image_tag pic.image(:medium)
= link_to 'Edit', edit_hotel_path(@hotel)
\|
= link_to 'Back', hotels_path
