.tabs-on-slider.set-center
  - if I18n.locale == :en
    %ul.nav.nav-tabs.pull-left#myTab{:role => "tablist", :class => I18n.locale }
      = render 'shared/search_reserv'
  - else
    %ul.nav.nav-tabs.pull-right#myTab{:role => "tablist", :class => I18n.locale }
      = render 'shared/search_reserv'
  
  .tab-content    
    #reserv.tab-pane.active.fade.in{:role => "tabpanel"}
      %b= 'در حال راه اندازی...'
      -#
        = form_tag '#', :method => "get", id: "reserv-form", :remote => true do 
          = label_tag t('reserv-type')
          = select_tag "type", options_for_select([t('user'), t('agent')])
          = label_tag t('reserv-lang')
          = select_tag "lang", options_for_select([t('reserv-en'), t('reserv-fa')])        
          = submit_tag t('reserv-login'), :name => nil, :id => "reserv-submit" , :class => "btn"
        
    #search.tab-pane.fade{:role => "tabpanel"} 
      = form_tag search_tours_path, :method => "post", id: "search-tour" do 
        .col-xs-1{:style => "margin-top:2%"}
          = submit_tag t('tour-search'), :name => "tour_submit", :id => "tour-submit" , :class => "btn btn-info"
        .col-xs-2
          = label_tag t('tour-country')
          = text_field_tag :country, params[:country], :class => "form-control", :id => "tour-country"                  
        .col-xs-2
          = label_tag t('tour-price')
          = text_field_tag :price, params[:price], :class => "form-control", :id => "tour-price"                  
        
        .col-xs-2
          = label_tag t('tour-until')          
          #datetimepicker1.input-group.date
            = text_field_tag :exp_date, params[:exp_date], :class => "fa_date form-control", :id => "tour-start"
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        .col-xs-2
          = label_tag t('tour-from')
          = text_field_tag :start_date, params[:start_date], :class => "fa_date form-control", :id => "tour-exp"


.imp-package.content
  .col-md-12.text-center

  .col-md-12.col-md-offset-3{:style => "height:100%"}
    #myCarousel.carousel.slide
      .carousel-inner#package-tour
        - @tours.each do |tour|
          .item
            .col-xs-3
              - if tour.photos.present?
                = link_to (image_tag tour.photos.first.image(:medium), :class => "img-responsive"), tour
              
              .tour-hover{:class => I18n.locale}
                %p.tour-title= tour.title
                - if I18n.locale == :fa
                  = render "/tours/show_persian_date", :tour => tour
                - else  
                  = render "/tours/show_english_date", :tour => tour
          
      = link_to  "#myCarousel" , :class => "left carousel-control", "data-slide" => "prev"  do  
        = image_tag 'prev.png'
      = link_to  "#myCarousel", :class => "right carousel-control", "data-slide" => "next"  do           
        = image_tag 'next.png'
.middle-page    
  .show-links{:class => I18n.locale}    
    .col-xs-8.set-center
      - Link.all.each do |link|
        = link_to url_with_protocol(link.web_site), :target => "_blank", :class => "col-xs-3 link-box" do    
          = image_tag link.image(:small)
          %p
            %b{:class => I18n.locale}= link.title
  

          
:javascript
  $('#package-tour :first').addClass('active');
  $(function () {
    $('#myTab a:last').tab('show')
  })
  
  $('.fa_date').datepicker()
  
  $('#myCarousel').carousel({
    interval: 4000
  })

  $('.carousel .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<2;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      
      next.children(':first-child').clone().appendTo($(this));
    }
  });
