.tabs-on-slider
  - if I18n.locale == :en
    %ul.nav.nav-tabs.pull-left#myTab{:role => "tablist", :class => I18n.locale }
      = render 'shared/search_reserv'
  - else
    %ul.nav.nav-tabs.pull-right#myTab{:role => "tablist", :class => I18n.locale }
      = render 'shared/search_reserv'
  .clear-float
  .tab-content
    #reserv.tab-pane.active.fade.in{:role => "tabpanel"}
      = form_tag '#', :method => "get", id: "reserv-form", :remote => true do 
        = label_tag t('reserv-type')
        = select_tag "type", options_for_select([t('user'), t('agent')])
        = label_tag t('reserv-lang')
        = select_tag "lang", options_for_select([t('reserv-en'), t('reserv-fa')])        
        = submit_tag t('reserv-login'), :name => nil, :id => "reserv-submit" , :class => "btn"
        
    #search.tab-pane.fade{:role => "tabpanel"} 
      = form_tag '#', :method => "get", id: "reserv-form", :remote => true do 
        = label_tag t('tour-country')
        = select_tag :country_id, options_for_select(Country.all.collect{ |u| [u.title_fa, u.id] }), prompt: "کشور را انتخاب کنید"
        = label_tag t('tour-city')
        = select_tag :city_id, options_for_select(City.all.collect{ |u| [u.title_fa, u.id] }), prompt: "شهر را انتخاب کنید"
        = label_tag t('tour-from')
        = text_field_tag :search, params[:search], :class => "fa_date"
        = label_tag t('tour-until')
        = text_field_tag :search, params[:search], :class => "fa_date"
        = submit_tag t('tour-search'), :name => nil, :id => "tour-submit" , :class => "btn"
  
  


.imp-package.content
  .col-md-12.text-center
  %h3= t('packages') 
  .col-md-12.col-md-offset-3{:style => "height:100%"}
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          .col-xs-4
            = link_to (image_tag 'images/1.jpg', :class => "img-responsive")
        .item
          .col-xs-4
            = link_to (image_tag 'images/2.jpg', :class => "img-responsive")           
        .item
          .col-xs-4
            = link_to (image_tag 'images/3.jpg', :class => "img-responsive")           
        .item
          .col-xs-4
            = link_to (image_tag 'images/4.jpg', :class => "img-responsive")                   
        .item
          .col-xs-4
            = link_to (image_tag 'images/6.jpg', :class => "img-responsive")                   
      = link_to  "#myCarousel" , :class => "left carousel-control", "data-slide" => "prev"  do  
        = image_tag 'prev.png'
      = link_to  "#myCarousel", :class => "right carousel-control", "data-slide" => "next"  do           
        = image_tag 'next.png'
    #rm_mask_left.rm_mask_left
    #rm_mask_right.rm_mask_right
    #rm_corner_left.rm_corner_left
    #rm_corner_right.rm_corner_right
          
:javascript
  $(function () {
    $('#myTab a:last').tab('show')
  })
  
  $('.fa_date').datepicker()
  
  $(function() {
    $(".auto .carousel").jCarouselLite({
        auto: 800,
        speed: 1000
    });
  });
  
  $('#myCarousel').carousel({
    interval: 5000
  });

  $('.carousel .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<2;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      
      next.children(':first-child').clone().appendTo($(this));
    }
  });
  
