%h4
  - if current_user.present?
    = current_user.email
%ul  
  %li= link_to 'مدیریت خبرنامه', Customer
  %li= link_to 'مدیریت صفحات متنی', Page
  %li= link_to 'کشورها', countries_path
  %li= link_to 'شهرها', cities_path
  %li= link_to 'هتل ها', hotels_path
  %li= link_to 'معرفی تورها', tours_path
  %li= link_to 'معرفی نقاط دیدنی', sights_path
  %li= link_to 'پیوندهای مرتبط', links_path
  %li= link_to 'شرکتهای هواپیمایی', planes_path
  %li= link_to 'مدیریت اسلایدر', Slide
  %li= link_to 'مشاهده نظرات کاربران', TourComment
  %li= link_to 'پروفایل کاربر', edit_user_registration_path
  %li= link_to 'خروج', destroy_user_session_path, :method => :delete
