%h5.admin-menu-title
  - if current_user.present?
    = current_user.email
  - @unread_tour_comment = TourComment.where(confirm_comment: 0).count
  - @unread_msg = Message.where(visited: 0).count
  - @unread_visa_form = VisaForm.where(admin_visited: 0).count
  - @unread_custom_link = CustomTour.where(visited: 0).count
  - @iran_tour_reserve = IranTourReserv.where(visited: 0).count
  - @notifications = @unread_tour_comment + @unread_msg + @unread_custom_link + @unread_visa_form + @iran_tour_reserve
  - if @notifications
    %span.unread= @notifications
%ul{:class => I18n.locale}  
  %li= link_to 'تعریف سرمایه گذاری در ایران', InvestmentInIran, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'تعریف گروه ویزا', VisaType, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'معرفی ویزای جدید', Visa, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li
    = link_to 'گزارشگیری درخواستهای ویزا', VisaForm, :title => "آژانس_هواپیمایی_رادان_سیر"
    - if @unread_visa_form != 0
      %span.unread= @unread_visa_form
  %li= link_to 'مدیریت خبرنامه', Customer, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'مدیریت صفحات متنی', Page, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'کشورها', countries_path, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'شهرها', cities_path, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'تعریف درجه هتل' , new_class_hotel_path, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'هتل ها', hotels_path, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'تعریف گروه بندی تور', ContinentCategory, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'معرفی تورها', tours_path, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'معرفی نقاط دیدنی', sights_path, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'پیوندهای مرتبط', links_path, :title => "آژانس_هواپیمایی_رادان_سیر"  
  %li= link_to 'افزودن شرکت هواپیمایی', Plane, :title => "آژانس_هواپیمایی_رادان_سیر"  
  %li= link_to 'مدیریت اسلایدر', Slide, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li    
    = link_to 'مشاهده نظرات کاربران', TourComment, :title => "آژانس_هواپیمایی_رادان_سیر"    
    - if @unread_tour_comment != 0
      %span.unread= @unread_tour_comment
  %li
    = link_to 'مشاهده پیام های ارسالی', Message, :title => "آژانس_هواپیمایی_رادان_سیر"    
    - if @unread_msg != 0
      %span.unread= @unread_msg
  %li
    = link_to 'گزارش سفارش تورهای ایران', IranTourReserv, :title => "آژانس_هواپیمایی_رادان_سیر" 
    - if @iran_tour_reserve != 0
      %span.unread= @iran_tour_reserve
  %li
    = link_to 'گزارش لینکهای ارسالی', SendLink, :title => "آژانس_هواپیمایی_رادان_سیر"    
    
  -#
    %li
      = link_to 'گزارش تورهای درخواستی', CustomTour, :title => "آژانس_هواپیمایی_رادان_سیر"    
      - if @unread_custom_link != 0
        %span.unread= @unread_custom_link
  %li= link_to 'مدیریت کاربران عضو', User, :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'پروفایل کاربر', edit_user_path(current_user), :title => "آژانس_هواپیمایی_رادان_سیر"
  %li= link_to 'خروج', destroy_user_session_path, :method => :delete, :title => "آژانس_هواپیمایی_رادان_سیر"
