%h4.admin-menu-title
  - if current_user.present?
    = current_user.email
%ul{:class => I18n.locale}  
  %li= link_to 'مدیریت خبرنامه', Customer
  %li= link_to 'مدیریت صفحات متنی', Page
  %li= link_to 'کشورها', countries_path
  %li= link_to 'شهرها', cities_path
  %li= link_to 'هتل ها', hotels_path
  %li= link_to 'معرفی تورها', tours_path
  %li= link_to 'معرفی نقاط دیدنی', sights_path
  %li= link_to 'پیوندهای مرتبط', links_path
  
  %li= link_to 'مدیریت اسلایدر', Slide
  %li= link_to 'مشاهده نظرات کاربران', TourComment
  %li= link_to 'مدیریت کاربران عضو', User
  %li= link_to 'پروفایل کاربر', edit_user_path(current_user)
  %li= link_to 'خروج', destroy_user_session_path, :method => :delete
