%h2
  admin menu
%ul
  %li= link_to 'مدیریت صفحات متنی', Page
  %li= link_to 'کشورها', countries_path
  %li= link_to 'شهرها', cities_path
  %li= link_to 'هتل ها', hotels_path
  %li= link_to 'معرفی تورها', tours_path
  %li= link_to 'معرفی نقاط دیدنی', sights_path
  %li= link_to 'پیوندهای مرتبط', links_path
