.menu_bar
  
  %ul.set-center{:class => I18n.locale}
    = link_to :controller => "/static", :action => :index, :class => ('active' if current_page?('/')) do
      %li.home=   t('home')      
    = link_to  tours_path, :class => ('active' if current_page?(Tour)) do
      %li.tour= t('tour.tours')
      
    = link_to Sight , :class => ('active' if current_page?(Sight)) do
      %li.sight=  t('sight')
    
    = link_to  Hotel, :class => ('active' if current_page?(Hotel)) do
      %li= t('hotel')
    
    = link_to  Country , :class => ('active' if current_page?(Country)) do
      %li= t('tour-country')

