.menu_bar  
  .falg_bar
    = link_to (image_tag 'flag/en_sm.png'), locale: :en
    = link_to (image_tag 'flag/ir_sm.png'), locale: :fa
    = link_to (image_tag 'flag/ar_sm.png'), locale: :ar
  %center.nav_bar
    %ul.set-center
      = link_to '/' do
        %li.home=   t('home')      
      = link_to  Tour do
        %li.tour= t('tour.tours')
      
      = link_to '/' do
        %li{:style => "margin-top:2px"}= (image_tag 'menu_logo.png')
      
      = link_to Sight    do
        %li.sight=  t('sight')
      
      = link_to  Hotel do
        %li= t('hotel')
      
      = link_to  Country do
        %li= t('tour-country')
  .pin
    %h2= 'نظر سنجی'
    
