.menu_bar  
  %ul#main-menu.set-center{:class => I18n.locale}  
    %li.home.item-menu{ :class => ('active' if current_page?('/'))}
      = link_to t('home'), { :controller => "/static", :action => :index}
    %li#sight.item-menu{:class => ('active' if current_page?(Sight))}  
      = link_to t('sight'), Sight, :title => "آژانس هواپیمایی رادان سیر" 
      %ul.sub-menu.sight
        %li{:class => I18n.locale}= link_to t('ir-tours'), Sight
        %li{:class => I18n.locale}= link_to t('ir-cities'), Sight
        %li{:class => I18n.locale}= link_to t('investment-in-iran'), InvestmentInIran
    %li#tour.item-menu{:class => ('active' if current_page?(Tour))}  
      = link_to  t('tour.tours'), tours_path,  :title => "آژانس هواپیمایی رادان سیر"       
      %ul.sub-menu.tour
        - ContinentCategory.offset(5).order("set_order asc").each do |category|
          %li{:class => I18n.locale}
            = link_to category.title, category
        
        
        %li{:class => I18n.locale}= link_to t('other-tour'), Tour
    %li#hotel.item-menu{:class => ('active' if current_page?(Hotel))}
      = link_to  t('hotel'), Hotel,  :title => "آژانس هواپیمایی رادان سیر"
      %ul.sub-menu.hotel
        %li{:class => I18n.locale}= link_to t('best-offer'), Hotel
        %li.foreign-hotels{:class => I18n.locale}
          = link_to t('foreign-hotels'), Hotel
          %ul.details_menu          
            - Country.all.order(" title_fa asc").each do |country|
              - unless country.title_fa == 'ایران'
                - if country.cities.present?
                  - country.cities.each_with_index do |city, i|
                    - @country_city = Array.new
                    - if city.hotels.present?
                      - @country_city.push(city.id)                    
                  - unless @country_city.empty?
                    %li{:class => I18n.locale}                  
                      = link_to country.title, country
                      %ul.cities-hotels
                        - country.cities.each_with_index do |city, i|
                          - if city.hotels.present?
                            %li{:class => I18n.locale}                  
                              = link_to city.title, city
                    
                  
            
        
    %li.item-menu{:class => ('active' if current_page?(Country))}
      = link_to  t('tour-country'),Country , :title => "آژانس هواپیمایی رادان سیر" 
    %li.item-menu{:class => ('active' if current_page?(Visa))}
      = link_to  t('visa'),Visa , :title => "ویزا از طریق رادان سیر"       
      %ul.sub-menu.visa{:style => "width:200px;"}
        %li{:class => I18n.locale}= link_to t('visa-app'), new_visa_form_path
        - VisaType.order("title_fa asc").each do |visatype|
          %li{:class => I18n.locale}
            = link_to visatype.title, visatype
        
      
    %li.item-menu{:class => ('active' if current_page?(Page))}  
      - @about = Page.find_by_title_en('About us')
      = link_to  t('about-us'), page_path(@about) , :title => "آژانس هواپیمایی رادان سیر" 
      
