.multi-slider-package.col-xs-10  
  .col-md-12.col-md-offset-3
    #myCarousel.carousel.slide{"data-ride" => "carousel", "data-type" => "multi", "data-interval" => "3000"}
      .carousel-inner#package-tour
        - tours.each do |tour|
          .item
            .col-xs-4.tour-item
              - if tour.photos.present?
                = link_to (image_tag tour.photos.first.image(:medium), :class => "img-responsive"), tour, :class => 'item-package', :title => "آژانس_هواپیمایی_رادان_سیر"
              
              .tour-hover{:class => I18n.locale}
                %p.tour-title{:class => I18n.locale}= tour.title
                - if I18n.locale == :fa
                  = render "/tours/show_persian_date", :tour => tour
                - else  
                  = render "/tours/show_english_date", :tour => tour
          
      = link_to  "#myCarousel" , :class => "left carousel-control", "data-slide" => "prev", :title => "آژانس_هواپیمایی_رادان_سیر"  do  
        = image_tag 'prev.png'
      = link_to  "#myCarousel", :class => "right carousel-control", "data-slide" => "next", :title => "آژانس_هواپیمایی_رادان_سیر"  do           
        = image_tag 'next.png'
.multi-slider-package.col-xs-10{:style => "margin-bottom:5%"}   
  .col-md-12.col-md-offset-3{:style => "height:200px;"}
    #myCarousel.carousel.slide{"data-ride" => "carousel", "data-type" => "multi", "data-interval" => "3000", :style => "height:100%"}
      .carousel-inner#package-tour
        - tours.each do |tour|
          .item
            .col-xs-4.tour-item
              - if tour.photos.present?
                = link_to (image_tag tour.photos.first.image(:medium), :class => "img-responsive"), tour, :class => 'item-package', :title => "آژانس_هواپیمایی_رادان_سیر"
              
              .tour-hover{:class => I18n.locale}
                %p.tour-title{:class => I18n.locale}= tour.title
                - if I18n.locale == :fa
                  = render "/tours/show_persian_date", :tour => tour
                - else  
                  = render "/tours/show_english_date", :tour => tour
          
      = link_to  "#myCarousel" , :class => "left carousel-control", "data-slide" => "prev", :title => "آژانس_هواپیمایی_رادان_سیر"  do  
        = image_tag 'prev.png'
      = link_to  "#myCarousel", :class => "right carousel-control", "data-slide" => "next", :title => "آژانس_هواپیمایی_رادان_سیر"  do           
        = image_tag 'next.png'
:javascript
  $('.carousel[data-type="multi"] .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<2;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      
      next.children(':first-child').clone().appendTo($(this));
    }
  });
  function hash(formname) {
    document.getElementById(formname).Password.value = hex_md5(document.getElementById(formname).Password.value);
    return true;
  }
  if(!Modernizr.csstransforms3d) document.getElementById('information').style.display = 'block';
