.col-xs-12{:style => "position:absolute"}
  .title-tour-line.col-xs-10
  %p.title-tour.col-xs-3.set-center{:class => I18n.locale}= t('hotel')
- @half_count = (Hotel.count) / 2
.multi-slider-package.col-xs-10
  .col-md-12.col-md-offset-3
    #myCarousel1.carousel.slide{"data-ride" => "carousel", "data-type" => "multi", "data-interval" => "3000"}
      .carousel-inner#package-tour1        
        - Hotel.all.limit(@half_count).each do |hotel|
          - unless hotel.city.country.title_fa == 'ایران'
            .item
              .col-xs-4.tour-item{:id => hotel.id.to_s}
                - if hotel.photos.present?
                  = link_to (image_tag hotel.photos.first.image(:medium), :class => "img-responsive"), hotel, :class => 'item-package', :title => "آژانس_هواپیمایی_رادان_سیر"
                
                .tour-hover{:class => I18n.locale}                  
                  = render "/hotels/show_hotel_info_fa", :hotel => hotel
                 
          
      = link_to  "#myCarousel1" , :class => "left carousel-control", "data-slide" => "prev", :title => "آژانس_هواپیمایی_رادان_سیر"  do  
        = image_tag 'prev.png'
      = link_to  "#myCarousel1", :class => "right carousel-control", "data-slide" => "next", :title => "آژانس_هواپیمایی_رادان_سیر"  do           
        = image_tag 'next.png'
.multi-slider-package.col-xs-10{:style => "margin-bottom:5%"}   
  .col-md-12.col-md-offset-3{:style => "height:200px;"}
    #myCarousel2.carousel.slide{"data-ride" => "carousel", "data-type" => "multi", "data-interval" => "3000", :style => "height:100%"}
      .carousel-inner#package-tour2
        - Hotel.all.offset(@half_count).each do |hotel|
          - unless hotel.city.country.title_fa == 'ایران'
            .item
              .col-xs-4.tour-item{:id => hotel.id.to_s}
                - if hotel.photos.present?
                  = link_to (image_tag hotel.photos.first.image(:medium), :class => "img-responsive"), hotel, :class => 'item-package', :title => "آژانس_هواپیمایی_رادان_سیر"
                
                .tour-hover{:class => I18n.locale}                  
                  = render "/hotels/show_hotel_info_fa", :hotel => hotel
          
      = link_to  "#myCarousel2" , :class => "left carousel-control", "data-slide" => "prev", :title => "آژانس_هواپیمایی_رادان_سیر"  do  
        = image_tag 'prev.png'
      = link_to  "#myCarousel2", :class => "right carousel-control", "data-slide" => "next", :title => "آژانس_هواپیمایی_رادان_سیر"  do           
        = image_tag 'next.png'

:javascript
  $('.carousel[data-type="multi"] .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<2;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      
      next.children(':first-child').clone().appendTo($(this));
    }
  });
  function hash(formname) {
    document.getElementById(formname).Password.value = hex_md5(document.getElementById(formname).Password.value);
    return true;
  }
  if(!Modernizr.csstransforms3d) document.getElementById('information').style.display = 'block';
  

