.newsletter.clear-float{:style => "padding:2%"}  
  = form_for @customer ||= Customer.new, id: "newsletter_form" do |f| 
    - if  @customer.present? && @customer.errors.any?      
      .alert.alert-danger{:role => "alert"}
        %ul
          - @customer.errors.each do |attr, msg|
            %li= msg
    - if flash[:Ncustomer].present?
      .alert.alert-success
        = flash[:Ncustomer]
    - if flash[:Ecustomer].present?
      .alert.alert-danger
        = flash[:Ncustomer]
    
    .col-xs-12.form-group
      = f.text_field :email, :placeholder => t('newsletter_email'),   :id => "newsletter_email", :class => " form-msg form-control"
    .col-xs-12{:style => "text-align:center", :class => I18n.locale}
      = f.submit t('newsletter_set') , :id => "newsletter-submit" , :class => "btn footer-btn "
:javascript 
  $(function() { 
    $(':submit#newsletter-submit').click(function(e) {
      $(':text#newsletter_email, textarea#newsletter_email').each(function() {
        if ($(this).val().length == 0) {
          $(this).css('border', '2px solid red');
          e.preventDefault();
        }
      });
    });
  });
