.search-tour.col-xs-8.pull-right#search-tour
  = form_tag search_tours_path, :method => "post", id: "search-tour" do 
    .col-xs-2.pull-left.tour-search-box
      %span{:class => I18n.locale}= t('search-tour')
      %span= image_tag 'search-icon.png'
    .col-xs-2.pull-left
      = submit_tag t('tour-search'), :name => "tour_submit", :id => "tour-submit" , :class => "btn"    
    .col-xs-2.pull-right      
      = text_field_tag :start_date, params[:start_date], :placeholder => t('tour-from'),:class => "fa_date form-control", :id => "tour-exp"
    .col-xs-2.pull-right      
      = text_field_tag :exp_date, params[:exp_date],:placeholder => t('tour-until'), :class => "fa_date form-control", :id => "tour-start"    
    .col-xs-2.pull-right      
      = text_field_tag :price, params[:price],:placeholder => t('tour-price'), :class => "form-control", :id => "tour-price"                  
    .col-xs-2.pull-right      
      = text_field_tag :country, params[:country],:placeholder => t('tour-country'), :class => "form-control", :id => "tour-country"  
  
-#
  #reserv.col-xs-8.pull-left.link-reservation
    .reserv-box.pull-right{:class => I18n.locale}    
      %span= image_tag 'reserv-plane.png'
      %span{:class => I18n.locale, :style => "margin-bottom:12%"}= t('plane-reserv') 
    .col-xs-8
      = form_tag 'http://sepehr.radantravel.com/Systems/Login.aspx', :method => "get", id: "frmLogin", :onsubmit => "return(hash('frmLogin'))", :defaultbutton => "btnLogin", :target => "_blank" do 

        = submit_tag t('reserv-login'), :name => nil, :id => "reserv-submit" , :class => "btn"
        = label_tag t('reserv-type')
        = select_tag params[:IsPublicLogin],  options_for_select([[t('user'),'true'], [t('agent'),'false']])
        = label_tag t('reserv-lang')
        = select_tag params[:Language], options_for_select([[t('reserv-fa'), 'FA'], [t('reserv-en'), 'EN'], [t('reserv-ar'), 'AR']])                
        
        
#reserv-hotel.col-xs-3.pull-left.link-reservation{:style => "bottom:0", :class => I18n.locale}
  - if I18n.locale == :en    
    .col-xs-9.reserv-en-link
      = link_to url_with_protocol('www.radanhotel.com'), :target => "_blank" do
        .reserv-box{:class => I18n.locale}
          %span{:class => I18n.locale}= t('hotel-reserv')
      
      = link_to url_with_protocol('http://sepehr.radantravel.com/Systems/Login.aspx'), :target => "_blank" do
        .reserv-box{:class => I18n.locale}            
          %span{:class => I18n.locale}= t('plane-reserv')
    .col-xs-1{:style => "padding-top: 6%;"}= image_tag 'pluse.png'
  - else
    .col-xs-1.pull-right#plus-icon{:style => "padding-top: 6%;"}= image_tag 'pluse.png'
    .col-xs-9.pull-right#reserv-link
      = link_to url_with_protocol('www.radanhotel.com'), :target => "_blank" do
        .reserv-box{:class => I18n.locale}
          %span{:class => I18n.locale}= t('hotel-reserv')
      
      = link_to url_with_protocol('http://sepehr.radantravel.com/Systems/Login.aspx'), :target => "_blank" do
        .reserv-box{:class => I18n.locale}            
          %span{:class => I18n.locale}= t('plane-reserv')
    

:javascript      
  $('#tour-exp').datepicker();
  $('#tour-start').datepicker();
