
.col-xs-3{:style => "padding:0"}
  = link_to :controller => "/static", :action => :index, :title => "آژانس_هواپیمایی_رادان_سیر" do
    .logo-image= image_tag 'menu_logo.png'
.col-xs-9{:style => "padding:2%"}
  .title-site{:class => I18n.locale}= t('radantravel')
  .contact-top-site{:class => I18n.locale}
     
    .col-xs-6{:style => "padding:0"}
      %span= image_tag 'email.png'
      %span= 'info@radantravel.com'
    .col-xs-6{:style => "padding:0"}
      %span= image_tag 'phone-icon.png'
      %span.phone{:class => I18n.locale}= t('phone') 
.contact-top-site-responsive
  .col-xs-6{:style => "padding:0"}
    %span= image_tag 'email.png'
    %span= 'info@radantravel.com'
  .col-xs-6{:style => "padding:0"}
    %span= image_tag 'phone-icon.png'
    %span.phone{:class => I18n.locale}= t('phone') 
    
