.title-site.col-xs-4{:class => I18n.locale, :style => "float:left; font-family: 'MTCORSVA'; font-size:30px"}= t('radantravel')          

.col-xs-4#logo-site{:class => I18n.locale, :style => "float:left"}            
  = link_to :controller => "/static", :action => :index, :title => "آژانس_هواپیمایی_رادان_سیر" do
    = image_tag 'menu_logo.png'            
.col-xs-4#contact-info{:class => I18n.locale, :style => "float:left"}            
  .col-xs-5{:style => "text-align:right"}
  .col-xs-7{:style => "text-align:right"}
    .flag_bar
      = link_to (image_tag 'flag/en_sm.png'), locale: :en, :title => "آژانس_هواپیمایی_رادان_سیر"
      = link_to (image_tag 'flag/ir_sm.png'), locale: :fa, :title => "آژانس_هواپیمایی_رادان_سیر"
      = link_to (image_tag 'flag/ar_sm.png'), locale: :ar, :title => "آژانس_هواپیمایی_رادان_سیر"  
    .contact-top-site
      %p{:class => I18n.locale}
        %span{ :style => "font-family: 'MTCORSVA'; font-size:25px"}= t('contact-us')
        %span= image_tag 'phone-icon.png'
      %p{:class => I18n.locale}= t('phone')
