.margin3.margin-bottom  
  .col-xs-12.margin-bottom
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}= t('investment-in-iran')
  - if is_admin?
    = link_to 'ویرایش', edit_investment_in_iran_path(@investment_in_iran), :class => "btn btn-info" 
  .col-xs-12.margin-bottom5
    %h2{:class => I18n.locale}= @investment_in_iran.title
  .col-xs-12.investment-text
    - if  I18n.locale == :en
      .col-xs-8.margin-bottom5= raw @investment_in_iran.text
      .col-xs-4
        = image_tag @investment_in_iran.image(:medium)
    - else
      .col-xs-8.pull-right.margin-bottom5= raw @investment_in_iran.text
      .col-xs-4
        = image_tag @investment_in_iran.image(:medium)
    
  - if @investment_in_iran.pdf_investments.present?
    .col-xs-12.margin-bottom5
      .title-line.col-xs-10
      %p.col-xs-2.set-center.title{:class => I18n.locale}= t('pdf-files')
    .col-xs-12.margin-bottom5
      - @investment_in_iran.pdf_investments.each do |pdf_file|
        .col-xs-2.pdf_investment
          = link_to pdf_file.pdf_file.url, :target => "_blank" do
            %h4{:class => I18n.locale}= pdf_file.title
            %p=image_tag 'pdf-icon.png'
            %p= pdf_file.text
