
.col-xs-11.main-icon{:class => I18n.locale, :style => "margin-left: 10%;margin-right: 10%;"}
  .col-xs-2.icon-box    
    = image_tag 'irv.png'    , :alt => "ویزای ایران_آژانس هواپیمایی رادان سیر"
    %p=link_to t('iran-visa'), tours_moment_tours_path, :title => "آژانس_هواپیمایی_رادان_سیر" 
    -#
      %p.icon-des یک متن خلاصه و یا توضیحات خلاصه قرار میگیرد.
  .col-xs-2.icon-box
    = image_tag 'package.png'     , :alt => "تورها_آژانس هواپیمایی رادان سیر"
    %p= link_to  t('tour-to-iran'), Sight, :title => "آژانس_هواپیمایی_رادان_سیر" 
    
  .col-xs-2.icon-box
    = image_tag 'visit.png'     , :alt => "جاذبه های ایران_آژانس هواپیمایی رادان سیر"
    %p= t('iran-sights')
    
  .col-xs-2.icon-box
    = image_tag 'hotel.png' , :alt => "هتل های ایران‍_آژانس هواپیمایی رادان سیر"
    %p= link_to   t('iran-hole'), Hotel,  :title => "آژانس_هواپیمایی_رادان_سیر" 
  .col-xs-2.icon-box
    = image_tag 'investiment.png' , :alt => "سرمایه گذاری در ایران_آژانس هواپیمایی رادان سیر"
    %p= link_to   t('investment-in-iran'), Hotel,  :title => "آژانس_هواپیمایی_رادان_سیر"   


