- @sights.each_with_index do |sight|
  .tab-pane.fade.in.country-details{:role => "tabpanel", :id => 'city'+sight.city_id.to_s}      
    .tours-index
      = link_to sight, :class => "tour-box", :title => "آژانس_هواپیمایی_رادان_سیر" do
        %h5.tour-title{:id => 'sight-'+sight.id.to_s}= sight.title
        - if sight.photos.present?
          .tour-sample-image= image_tag sight.photos.first.image(:medium), :id => "tour-sample-image-" + sight.photos.first.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
        .clear-float

      -if is_admin?
        .admin-btn-tour
          = link_to 'ویرایش ', edit_sight_path(sight), :class => "btn btn-info", :title => "آژانس_هواپیمایی_رادان_سیر"
          = link_to 'مشاهده جزئیات', sight, :class => "btn btn-warning"       , :title => "آژانس_هواپیمایی_رادان_سیر"
          = link_to 'حذف ', sight, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger", :title => "آژانس_هواپیمایی_رادان_سیر"
            
    
