.margin3  
  %h1{ :title => "آژانس_هواپیمایی_رادان_سیر",:class => I18n.locale}= 'نقاط دیدنی'
  -if is_admin?
    = link_to 'معرفی جاذبه دیدنی جدید', new_sight_path, :class => "btn btn-success", :title => "آژانس_هواپیمایی_رادان_سیر"  
      
  .country-tabs
    - if I18n.locale == :en  
      %ul.nav.nav-tabs.pull-left#SightsTab{:role => "tablist", :class => I18n.locale }
        = render 'sights/sight_title_tap'      
    - else       
      %ul.nav.nav-tabs.pull-right#SightsTab{:role => "tablist", :class => I18n.locale }        
        = render 'sights/sight_title_tap'    
         
    .tab-content
      = render 'sights/sight_details'
      
    
:javascript
  
  $('.country-tabs ul#SightsTab li:first ').addClass('active');
  $('.country-tabs .tab-content .tab-pane:first').addClass('active');
  $(function () {
    $('#SightsTab a:first').tab('show')
  });
      
    
   
