%h1 نقاط دیدنی
-if is_admin?
  = link_to 'معرفی جاذبه دیدنی جدید', new_sight_path, :class => "btn"
%table.table
  %tr
    %th ردیف
    %th عنوان محل    
    %th     
    %th عملیات

  - @sights.each_with_index do |sight, i|
    %tr
      %td= (i+1)
      %td= sight.title      
      %td= image_tag sight.photos.first.image(:small)
      %td        
        -if is_admin?
          = link_to 'Show', sight
          = link_to 'Edit', edit_sight_path(sight)
          = link_to 'Destroy', sight, :method => :delete, :data => { :confirm => 'Are you sure?' }




