%p#notice= notice

%p
  %b نام محل
  = @sight.title


%p
  %b توضیحات
  =raw @sight.text
%div
  - @sight.photos.each do |pic|
    .span6
      = image_tag pic.image(:medium)

= link_to 'Edit', edit_sight_path(@sight)
\|
= link_to 'Back', sights_path
