
- if I18n.locale == :en
  .col-xs-2.pull-left.menu-of-tours-group{:style => "text-align:center; margin-bottom:4%; margin-left:0", :class => I18n.locale}     
  
    = link_to Tour do
      .continent{:class => ('active' if current_page?(Tour))}
        %span.location#title-icon{:style => "right:0"}= image_tag 'w.png'
        %span.country-title-tab= t('show-all-tours')
    %ul.tour-groups
      - ContinentCategory.offset(5).order("set_order asc").each do |continent|         
        %li.tour-group-item
          = link_to continent do
            .continent.tour-group{:class => ('active' if current_page?(continent))}
              - if   continent.title_fa == 'تورهای تفریحی' ||  continent.title_fa == 'نوروز 94'
                %span.location= image_tag 'arrow-bullet-left.png'
              %h4.en.country-title-tab{ :class => ('white blink' if continent.title_fa == 'نوروز 94')}= continent.title
            - if  continent.title_fa == 'نوروز 94' && category.title_fa  == 'نوروز 94' 
              %ul.tour-groups-sub-menu{:class => I18n.locale}
                - CategoryCountry.all.each do |cat_country|  
                  %li{:id => ('asia-submenu' if  cat_country.title_fa == 'آسیا')}
                    .continent-group.tour-group{:class => ('active' if current_page?(cat_country))}
                      - if  cat_country.title_fa == 'آسیا'
                        %span.location= image_tag 'arrow-bullet-left.png'
                      %h3.en.country-title-tab
                        .en= link_to  cat_country.title, category_country_path(cat_country, :continent_id => category.id)
              
            - elsif   continent.title_fa == 'تورهای تفریحی' && category.title_fa == 'تورهای تفریحی'
              %ul.tour-groups-sub-menu{:class => I18n.locale}
                - CategoryCountry.all.each do |cat_country|  
                  %li{:id => ('asia-submenu' if  cat_country.title_fa == 'آسیا')}
                    .continent-group.tour-group{:class => ('active' if current_page?(cat_country))}
                      - if  cat_country.title_fa == 'آسیا'
                        %span.location= image_tag 'arrow-bullet-left.png'
                      %h3.en.country-title-tab
                        .en= link_to  cat_country.title, category_country_path(cat_country, :continent_id => category.id)
              
            
 
- else
  .col-xs-2.pull-right.menu-of-tours-group{:style => "text-align:center; margin-bottom:4%; margin-left:0", :class => I18n.locale}     
    
    = link_to Tour do
      .continent{:class => ('active' if current_page?(Tour))}
        %span.location#title-icon{:style => "right:0"}= image_tag 'w.png'
        %span.country-title-tab= t('show-all-tours')
    %ul.tour-groups
      - ContinentCategory.offset(5).order("set_order asc").each do |continent|         
        %li.tour-group-item
          = link_to continent do
            .continent.tour-group{:class => ('active' if current_page?(continent))}
              - if   continent.title_fa == 'تورهای تفریحی' ||  continent.title_fa == 'نوروز 94'
                %span.location= image_tag 'arrow-bullet-right.png'
              %h4.fa.country-title-tab{ :class => ('white blink' if continent.title_fa == 'نوروز 94')}= continent.title
            - if  continent.title_fa == 'نوروز 94' && category.title_fa  == 'نوروز 94' 
              %ul.tour-groups-sub-menu{:class => I18n.locale}
                - CategoryCountry.all.each do |cat_country|  
                  %li{:id => ('asia-submenu' if  cat_country.title_fa == 'آسیا')}
                    .continent-group.tour-group{:class => ('active' if current_page?(cat_country))}
                      - if  cat_country.title_fa == 'آسیا'
                        %span.location= image_tag 'arrow-bullet-right.png'
                      %h3.fa.country-title-tab
                        .fa= link_to  cat_country.title, category_country_path(cat_country, :continent_id => category.id)
              
            - elsif   continent.title_fa == 'تورهای تفریحی' && category.title_fa == 'تورهای تفریحی'
              %ul.tour-groups-sub-menu{:class => I18n.locale}
                - CategoryCountry.all.each do |cat_country|  
                  %li{:id => ('asia-submenu' if  cat_country.title_fa == 'آسیا')}
                    .continent-group.tour-group{:class => ('active' if current_page?(cat_country))}
                      - if  cat_country.title_fa == 'آسیا'
                        %span.location= image_tag 'arrow-bullet-right.png'
                      %h3.fa.country-title-tab
                        .fa= link_to  cat_country.title, category_country_path(cat_country, :continent_id => category.id)
              
            
