- if I18n.locale == :en
  .col-xs-2.pull-left.menu-of-tours-group{:style => " margin-left:0", :class => I18n.locale}     
    = link_to Tour do
      .continent{:class => ('active' if current_page?(Tour))}
        %span.location{:style => "right:0"}= image_tag 'w.png'
        %span.country-title-tab= t('show-all-tours')
    %ul.tour-groups
      - ContinentCategory.offset(5).order("set_order asc").each do |continent| 
        %li.tour-group-item{:id => 'continent-'+continent.id.to_s}
          = link_to continent do
            .continent.tour-group{:class => ('active' if current_page?(continent))}
              %h4.en.country-title-tab{ :class => ('white blink' if continent.title_fa == 'نوروز 94')}= continent.title
              - if   continent.title_fa == 'تورهای تفریحی' ||  continent.title_fa == 'نوروز 94'
                %span.location= image_tag 'arrow-bullet-left.png'

  
- else
  .col-xs-2.pull-right.menu-of-tours-group{:style => " margin-left:0", :class => I18n.locale}     
    = link_to Tour do
      .continent{:class => ('active' if current_page?(Tour))}
        %span.location{:style => "right:0"}= image_tag 'w.png'
        %span.country-title-tab= t('show-all-tours')
    %ul.tour-groups
      - ContinentCategory.offset(5).order("set_order asc").each do |continent| 
        %li.tour-group-item{:id => 'continent-'+continent.id.to_s}
          = link_to continent_category_path(continent) do
            .continent.tour-group{:class => ('active' if current_page?(continent))}
              %h4.fa.country-title-tab{ :class => ('white blink' if continent.title_fa == 'نوروز 94')}= continent.title
              - if   continent.title_fa == 'تورهای تفریحی' ||  continent.title_fa == 'نوروز 94'
                %span.location= image_tag 'arrow-bullet-right.png'
            
