.margin3
  %h1{:class => I18n.locale}= ' لیست تورها'
  -if is_admin?
    = link_to 'معرفی تور جدید', new_tour_path, :class => "btn btn-success"
    
  .show-tours.col-xs-12.set-center
    - @tours.each_with_index do |tour|
      .tours-index
        = link_to tour, :class => "tour-box" do
          %h5.tour-title= tour.title
          - if tour.photos.present?
            .tour-sample-image= image_tag tour.photos.first.image(:medium), :id => "tour-sample-image-" + tour.photos.first.id.to_s
          .clear-float
        .tour-date
          - if tour.validate_date_from.present? && tour.validate_date_until.present?
            %p= JalaliDate.new(tour.validate_date_from).strftime("%A %e %b %Y") + 'تا' + JalaliDate.new(tour.validate_date_until).strftime("%A %e %b %Y")
          - elsif tour.validate_date_from.present?
            %b= t('tour.validate_date_from')
            %p= JalaliDate.new(tour.validate_date_from).strftime("%A %e %b %Y")            
          - elsif   tour.validate_date_until.present?
            %b= t('tour.validate_date_until')
            %p= JalaliDate.new(tour.validate_date_until).strftime("%A %e %b %Y")            
        -if is_admin?
          .admin-btn-tour
            = link_to 'ویرایش تور', edit_tour_path(tour), :class => "btn btn-info"
            = link_to 'مشاهده جزئیات', tour, :class => "btn btn-warning"                   
            = link_to 'حذف تور', tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
            = link_to 'ارسال به اعضا خبرنامه', sendtonewsletter_tour_path(tour), :class => "btn btn-default"       
            - @send_tour = @send_tour.to_i            
            - if @send_tour.present? && @send_tour == tour.id
              .alert.alert-success='اطلاعات این تور برای اعضا خبرنامه ارسال شد.'
            
      
       
