.margin3  
  -if is_admin?
    = link_to 'معرفی تور جدید', new_tour_path, :class => "btn btn-success"
  
  = render '/tours/index_tour_groups'
  
  .show-tours.col-xs-10.set-center#Container
    - Country.all.each do |country|
      - unless country.title_fa == 'ایران'
        - if country.tours.present?
          - @country_tour = country.tours.last
          .tours-index{ "data-my-order" => @country_tour.id, :style => "width:23%"}        
            - if @country_tour.coming_soon?
              .coming_soon= image_tag 'coming.png'
            = link_to @country_tour, :class => "tour-box" do 
              %h5.tour-title{:class => I18n.locale}= @country_tour.title
              - if @country_tour.photos.present?
                .tour-sample-image{:class => ('set-coming-soon' if @country_tour.coming_soon?)}= image_tag @country_tour.photos.first.image(:medium), :id => "tour-sample-image-" + @country_tour.photos.first.id.to_s
              .clear-float
            .tour-date
              - if I18n.locale == :fa
                = render "/tours/show_persian_date", :tour => @country_tour
              - else  
                = render "/tours/show_english_date", :tour => @country_tour      
            -if is_admin?
              .admin-btn-tour
                = link_to 'ویرایش تور', edit_tour_path(@country_tour), :class => "btn btn-info"
                = link_to 'مشاهده جزئیات', @country_tour, :class => "btn btn-warning"                   
                = link_to 'حذف تور', @country_tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
                = link_to 'ارسال به اعضا خبرنامه', sendtonewsletter_tour_path(@country_tour), :class => "btn btn-default"       
                - @send_tour = @send_tour.to_i            
                - if @send_tour.present? && @send_tour == @country_tour.id
                  .alert.alert-success='اطلاعات این تور برای اعضا خبرنامه ارسال شد.'
                    
  .keywords
    %p= t('Keywords.title')
    %ul.tag-cloud.full-width{:class => I18n.locale}
      %li.tag-cloud
        = link_to t('radantravel'), '/'           
      %li.tag-cloud
        = link_to t('Keywords.a'), '/'    
      %li.tag-cloud
        = link_to t('Keywords.b'), '/'    
      %li.tag-cloud
        = link_to t('Keywords.f'), '/'    
      %li.tag-cloud
        = link_to t('Keywords.ir-package'), '/' 
      %li.tag-cloud
        = link_to t('tour-to-iran'), '/' 
      - ContinentCategory.all.each do |continent|      
        %li.tag-cloud
          = link_to t('tour.tours') + ' ' + continent.title, Tour , :title => 'تور '+ continent.title
      - @tours.each do |tour|
        %li.tag-cloud
          = link_to tour.title, tour, :title => tour.title
      
:javascript
  
  setInterval(
    function(){
      $('.blink').toggleClass('yellow white');
    },1000);
  
  

