%h1 لیست تورها
-if is_admin?
  = link_to 'معرفی تور جدید', new_tour_path, :class => "btn"
%table.table
  %tr
    %th ردیف
    %th عنوان تور/پکیج
    %th توضیحات
    
    %th پرواز
    %th هتل
    %th کشور
    %th شهر
    %th قیمت
    %th تاریخ اعتبار از
    %th تا   
    %th
    %th عملیات

  - @tours.each_with_index do |tour, i|
    %tr
      %td= (i+1)
      %td= tour.title      
      %td= tour.description      
      %td
        - if tour.plane_id.present?
          = tour.plane.title
      %td
        - if tour.hotel_id.present?
          = tour.hotel.title
      %td
        - if tour.country_id.present?
          = tour.country.title
      %td
        - if tour.city_id.present?
          = tour.city.title
      
      %td= tour.price
      %td= JalaliDate.new(@tour.validate_date_from).strftime("%A %e %b %Y")
      %td= JalaliDate.new(@tour.validate_date_until).strftime("%A %e %b %Y")
      
      
      %td
        -if is_admin?
          = link_to 'Show', tour
          = link_to 'Edit', edit_tour_path(tour)
          = link_to 'Destroy', tour, :method => :delete, :data => { :confirm => 'Are you sure?' }




