.margin3
  %h1{:class => I18n.locale}= t('tour.tours')
  -if is_admin?
    = link_to 'معرفی تور جدید', new_tour_path, :class => "btn btn-success"
  .col-xs-12{:style => "text-align:center; margin-bottom:4%", "data-option-key" => "filter"}  
    .filter.continent-cat.city-cat{"data-filter" => "all"}
      .set-btn= t('show-all-tours')
    - ContinentCategory.all.each do |continent|
      .filter.city-cat{"data-filter" => ".category-" + continent.id.to_s}
        .set-btn= continent.title 
      
  .clear-float      
  .show-tours.col-xs-12.set-center#Container
    - @tours.each_with_index do |tour|      
      .tours-index.mix{:class => ("category-" + tour.country.continent_category_id.to_s if tour.country_id.present? ), "data-my-order" => tour.id}
        = link_to tour, :class => "tour-box" do
          %h5.tour-title{:class => I18n.locale}= tour.title
          - if tour.photos.present?
            .tour-sample-image= image_tag tour.photos.first.image(:medium), :id => "tour-sample-image-" + tour.photos.first.id.to_s
          .clear-float
        .tour-date
          - if I18n.locale == :fa
            = render "/tours/show_persian_date", :tour => tour
          - else  
            = render "/tours/show_english_date", :tour => tour      
        -if is_admin?
          .admin-btn-tour
            = link_to 'ویرایش تور', edit_tour_path(tour), :class => "btn btn-info"
            = link_to 'مشاهده جزئیات', tour, :class => "btn btn-warning"                   
            = link_to 'حذف تور', tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
            = link_to 'ارسال به اعضا خبرنامه', sendtonewsletter_tour_path(tour), :class => "btn btn-default"       
            - @send_tour = @send_tour.to_i            
            - if @send_tour.present? && @send_tour == tour.id
              .alert.alert-success='اطلاعات این تور برای اعضا خبرنامه ارسال شد.'
            
      
:javascript
  $(function(){
    $('#Container').mixItUp();  
  });
       
