.margin3
  %h1= t('tour.search')
    
  .show-tours.col-xs-12.set-center
    - if @tour_result
      - @tour_result.each do |tour|      
        .tour-box.well
          = link_to tour do
            %h3= tour.title
            - if tour.photos.present?
              = image_tag tour.photos.first.image(:medium)
            .clear-float
            .tour-date
              - if tour.validate_date_from.present? && tour.validate_date_until.present?
                %p= JalaliDate.new(tour.validate_date_from).strftime("%A %e %b %Y") + 'تا' + JalaliDate.new(tour.validate_date_until).strftime("%A %e %b %Y")
              - elsif tour.validate_date_from.present?
                %b= t('tour.validate_date_from')
                %p= JalaliDate.new(tour.validate_date_from).strftime("%A %e %b %Y")            
              - elsif   tour.validate_date_until.present?
                %b= t('tour.validate_date_until')
                %p= JalaliDate.new(tour.validate_date_until).strftime("%A %e %b %Y")            
    
  %h3= link_to 'بازگشت به صفحه اصلی', {:controller => "static", :action => "index"}
