.margin3.margin-bottom
  %h1.title-tours{:class => I18n.locale}=  @tour.title  
  .col-xs-4 
  .col-xs-4 
    - if I18n.locale == :fa
      = render "/tours/show_persian_date", :tour => @tour
    - else  
      = render "/tours/show_english_date", :tour => @tour  
  - if is_admin?
    = link_to 'ویرایش', edit_tour_path(@tour), :class => "btn btn-info" 
    = link_to 'افزودن جزئیات محل تور', new_locationtour_path(tour_id: @tour.id), :class => "btn btn-warning", :title => 'شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر'
  .tour-details
    - if @tour.country.present?
      - if @tour.country.title_fa == 'ایران'
        .col-xs-12
          .col-xs-6{:style => "text-align:left"}= image_tag 'menu_logo.png', :alt => 'شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر'
          .clear-float
          - if tour.description.present?
            .title_row
              %h4{:class => I18n.locale}= t('description')
            .col-xs-12      
              = raw tour.description
        .clear-float
    - else
      .col-xs-12
        .col-xs-12
          .col-xs-6{:style => "text-align:left"}= image_tag 'menu_logo.png', :alt => 'شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر'
          .col-xs-6{:style => "text-align:right"}
            - if @tour.plane.present?
              = image_tag @tour.plane.logo(:icon), :alt => 'شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر'
        .col-xs-12.hotels-table.margin-bottom
          %h3{:class => I18n.locale, :style => "text-align:center"}= t('hotel')
          - if I18n.locale == :en
            = render 'tours/tour_info_table_en', :tour => @tour
          - else
            = render 'tours/tour_info_table_fa', :tour => @tour
      
    .col-xs-12.margin-bottom
      .col-xs-7        
        = render 'shared/slider_tumbnail', :model => @tour
      .col-xs-5.comment-box
        - if flash[:SendComment].present?
          .alert.alert-success{:class => I18n.locale}= t('tour_comment.send-comment')
        .tour-comments
          %h3{:class => I18n.locale}= t('tour_comment.your-comment')          
          = render 'tour_comments/form', :tour_comment => TourComment.new
      
        .show_comments          
          - @tour.tour_comments.each do |comment|
            - if comment.confirm_comment
              .well
                %b= comment.user_name
                %i= JalaliDate.new(comment.created_at).strftime("%A %e %b %Y")
                %p= comment.text
