.margin3
  %h1.title-tours{:class => I18n.locale}=  @tour.title  
  .col-xs-4 
  .col-xs-4 
    - if I18n.locale == :fa
      = render "/tours/show_persian_date", :tour => @tour
    - else  
      = render "/tours/show_english_date", :tour => @tour  
  - if is_admin?
    = link_to 'ویرایش', edit_tour_path(@tour), :class => "btn btn-info" 
    = link_to 'افزودن جزئیات محل تور', new_locationtour_path(tour_id: @tour.id), :class => "btn btn-warning", :title => 'شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر'
  .tour-details
    .col-xs-12        
      .col-xs-9        
        .col-xs-12
          .col-xs-6{:style => "text-align:left"}= image_tag 'menu_logo.png', :alt => 'شرکت خدمات مسافرت هوایی و جهانگردی رادان سیر'
          %h3{:class => I18n.locale}= t('tour.description')
          
        %table.table
          %tr
            %th= t('location.row')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "Hotels" }= t('location.hotel-name')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "class_hotel" }= t('location.hotel-star')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "two_bed" }= t('location.two_bed')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "one_bed" }= t('location.one_bed')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "kid_and_bed" }= t('location.kid_and_bed')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "kid_no_bed" }= t('location.kid_no_bed')
            %th{:id => "Iran's_air_travel_and_tourism_services_" + "description" }= t('location.description')
            - if is_admin?
              %th= 'عملیات'
          - @tour.locationtours.each_with_index do |location, i|
            %tr{:class => I18n.locale}
              %td= (i+1)
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر"+location.id.to_s}= link_to location.hotel.title_fa, hotel_path(location.hotel.title_en)
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر_درجه_هتل"+location.id.to_s}
                %span=image_tag 'Star.png'
                - if location.hotel.class_hotel_id.present?
                  = location.hotel.class_hotel.title
                
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر_دوتخته"+location.id.to_s}= location.price_two_bed
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر_یک_تخته"+location.id.to_s}= location.price_one_bed
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر_کودک_وتخت"+location.id.to_s}= location.price_kid_and_bed
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر_کودک_بدون_تخت"+location.id.to_s}= location.price_kid_without_bed
              %td{:id => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر_توضیحات_هتل"+location.id.to_s}= location.description
              - if is_admin?
                %td 
                  =link_to 'ویرایش', edit_locationtour_path(location, :tour_id => @tour.id), :class => "btn btn-info", :title => "شرکت_خدمات_مسافرتی_هوایی_جهانگردی_رادان_سیر"
                  = link_to 'حذف', location, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

                
        
        .clear-float    
        
        - if @tour.decription_image.present?
          = link_to  @tour.decription_image(:original), "data-lightbox" => "example-set", :class => "tour-img", :title => 'آژانس هواپیمایی رادان سیر_' + @tour.title do
            = image_tag @tour.decription_image(:medium), :class => "example-image", :alt => 'آژانس هواپیمایی رادان سیر_' + @tour.title, :id => @tour.id
        .tour-description=raw @tour.description 
      .col-xs-3
        %p
          %h2{:class => I18n.locale}= t('tour.itinerary')
          / Large modal
          %button.btn.btn-primary{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal", :type => "button"}= t('tour.show')
          .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                    %span.sr-only= t('close')
                  %h4.modal-title= t('tour.itinerary')
                .modal-body
                  =raw @tour.itinerary
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('close')
          
        %p
          %h2{:class => I18n.locale}= t('tour.documents')
          
          / Button trigger modal
          %button.btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
            = t('tour.show')
          / Modal
          #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                    %span.sr-only= t('close')
                  %h4#myModalLabel.modal-title= t('tour.documents')
                .modal-body
                  =raw @tour.documents
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('close')
        %p          
          - if @tour.info.present?
            = link_to @tour.info.url, :target => "blank" do
              %i.btn.btn-warning= 'دریافت فایل '
          
      
    .col-xs-12
      .col-xs-7        
        = render 'shared/slider_tumbnail', :model => @tour
      .col-xs-5.comment-box
        - if flash[:SendComment].present?
          .alert.alert-success{:class => I18n.locale}= t('tour_comment.send-comment')
        .tour-comments
          %h3{:class => I18n.locale}= t('tour_comment.your-comment')          
          = render 'tour_comments/form', :tour_comment => TourComment.new
      
        .show_comments          
          - @tour.tour_comments.each do |comment|
            - if comment.confirm_comment
              .well
                %b= comment.user_name
                %i= JalaliDate.new(comment.created_at).strftime("%A %e %b %Y")
                %p= comment.text
