%p#notice= notice
.row-fluid    
  .span12
    .span6
      %p
        %b عنوان تور
        = @tour.title    
      %p
        %b توضیحات تکمیلی
        = @tour.description

      %p
        %b پرواز
        - if @tour.plane_id.present?
          = @tour.plane.title
      %p
        %b هتل
        - if @tour.hotel_id.present?
          = @tour.hotel.title
    .span6
      %p
        %b شهر
        - if @tour.city_id.present?
          = @tour.city.title
          %b کشور
          = @tour.city.country.title
      %p
        %b قیمت
        = @tour.price
      %p
        %b تاریخ اعتبار از
        = JalaliDate.new(@tour.validate_date_from)
      %p
        %b الی
        = JalaliDate.new(@tour.validate_date_until)
        
      %p
        %b Coming soon:
        = @tour.coming_soon
  .span12
    - @tour.photos.each do |pic|
      .span6
        = image_tag pic.image(:medium)
        
= link_to 'Edit', edit_tour_path(@tour)
\|
= link_to 'Back', tours_path
