%h1= ('radantravel')

%p= @tour.title
- if @tour.validate_date_from.present? && @tour.validate_date_until.present?
  %p= JalaliDate.new(@tour.validate_date_from).strftime("%A %e %b %Y") + 'تا' + JalaliDate.new(@tour.validate_date_until).strftime("%A %e %b %Y")
- elsif @tour.validate_date_from.present?
  %b= t('@tour.validate_date_from')
  %p= JalaliDate.new(@tour.validate_date_from).strftime("%A %e %b %Y")            
- elsif   @tour.validate_date_until.present?
  %b= t('@tour.validate_date_until')
  %p= JalaliDate.new(@tour.validate_date_until).strftime("%A %e %b %Y")          

%h3= t('visitsite')
= link_to 'radantravel.com', 'radantravel.com'
