%h1 Listing cities

%table
  %tr
    %th Title fa
    %th Title en
    %th Title ar
    %th Text fa
    %th Text en
    %th Text ar
    %th Country
    %th
    %th
    %th

  - @cities.each do |city|
    %tr
      %td= city.title_fa
      %td= city.title_en
      %td= city.title_ar
      %td= city.text_fa
      %td= city.text_en
      %td= city.text_ar
      %td= city.country_id
      %td= link_to 'Show', city
      %td= link_to 'Edit', edit_city_path(city)
      %td= link_to 'Destroy', city, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New City', new_city_path
