.margin3  
  %p#notice= notice
  .city-details.set-center 
    .col-xs-11
      %h3{:class => I18n.locale}=  @city.title  
      - if @city.country.country_flag.present?
        %span{:style => "padding-top:2%"}= image_tag @city.country.country_flag(:small)
    - if is_admin?
      = link_to 'ویرایش', edit_city_path(@city), :class => "btn btn-info" 
    
    .clear-float
    .city.text.12
      =raw @city.text
      
    
    .col-xs-12     
      = render 'shared/items_images_sliders', :model => @city   
    
    .clear-float
    
    .col-xs-12
      - if @city.sights.present?
        %h2.col-xs-12{:class => I18n.locale}= t('places')
        - @city.sights.each do |sight|        
          .tours-index
            = link_to sight, :class => "tour-box", :title => "آژانس_هواپیمایی_رادان_سیر" do
              %h5.tour-title{:id => 'sight-'+sight.id.to_s}= sight.title
              - if sight.photos.present?
                .tour-sample-image= image_tag sight.photos.first.image(:medium), :id => "tour-sample-image-" + sight.photos.first.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
              .clear-float

            -if is_admin?
              .admin-btn-tour
                = link_to 'ویرایش ', edit_sight_path(sight), :class => "btn btn-info", :title => "آژانس_هواپیمایی_رادان_سیر"
                = link_to 'مشاهده جزئیات', sight, :class => "btn btn-warning"       , :title => "آژانس_هواپیمایی_رادان_سیر"
                = link_to 'حذف ', sight, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger", :title => "آژانس_هواپیمایی_رادان_سیر"
