.margin3  
  - if is_admin?
    .col-xs-12
      = link_to 'ویرایش شهر', edit_country_path(@city), :class => "btn btn-info" 
  .col-xs-12.margin-bottom5
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}
      %span= link_to @city.country.title, @city.country
      
      %span= ' , ' + @city.title  
    
  .col-xs-12.margin-bottom5.country-text{:class => I18n.locale}
    =raw @city.text
      
  .col-xs-12.margin-bottom5  
    .col-xs-12.margin-bottom5
      .title-line.col-xs-10
      %p.col-xs-2.set-center.title{:class => I18n.locale}= t('hotel')
    .show-tours.col-xs-12.set-center{:class => I18n.locale}
      - @city.hotels.order('title_fa asc').each_with_index do |hotel, i|
        .tours-index{:class => "iran-city-" + hotel.city.id.to_s, "data-my-order" => hotel.id}
          = link_to hotel, :class => "tour-box", :title => "آژانس_هواپیمایی_رادان_سیر" do
            %h5.tour-title{:id => "hotel-"+hotel.id.to_s, :class => I18n.locale}= hotel.title          
            - if hotel.photos.present?
              .hover.panel{:id => "item-"+ (i+1).to_s}
                .front
                  .pad.tour-sample-image= image_tag hotel.photos.first.image(:medium), :id => "tour-sample-image-" + hotel.photos.first.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
                .back
                  .pad.tour-sample-image= image_tag hotel.photos.last.image(:medium), :id => "tour-sample-image-" + hotel.photos.last.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
            .clear-float 
            .some-info 
              %p
                %span=image_tag 'Star.png'
                - if hotel.class_hotel_id.present?
                  %span.en= hotel.class_hotel.title
              %p= hotel.city.country.title + ' , ' + hotel.city.title
          -if is_admin?
            .admin-btn-tour
              = link_to 'مشاهده', hotel, :class => "btn btn-warning"   , :title => "آژانس_هواپیمایی_رادان_سیر"    
              = link_to 'ویرایش', edit_hotel_path(hotel), :class => "btn btn-info", :title => "آژانس_هواپیمایی_رادان_سیر"
              = link_to 'حذف', hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger", :title => "آژانس_هواپیمایی_رادان_سیر"
        
  - if @city.sights.present?
    .col-xs-12.margin-bottom5
      .title-line.col-xs-10
      %p.col-xs-2.set-center.title{:class => I18n.locale}= t('places')
    .col-xs-12
      - @city.sights.each do |sight|        
        .tours-index
          = link_to sight, :class => "tour-box", :title => "آژانس_هواپیمایی_رادان_سیر" do
            %h5.tour-title{:id => 'sight-'+sight.id.to_s, :class => I18n.locale}= sight.title
            - if sight.photos.present?
              .tour-sample-image= image_tag sight.photos.first.image(:medium), :id => "tour-sample-image-" + sight.photos.first.id.to_s, :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر"
            .clear-float

          -if is_admin?
            .admin-btn-tour
              = link_to 'ویرایش ', edit_sight_path(sight), :class => "btn btn-info", :title => "آژانس_هواپیمایی_رادان_سیر"
              = link_to 'مشاهده جزئیات', sight, :class => "btn btn-warning"       , :title => "آژانس_هواپیمایی_رادان_سیر"
              = link_to 'حذف ', sight, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger", :title => "آژانس_هواپیمایی_رادان_سیر"
  - if @city.photos.present?
    .col-xs-12     
      = render 'shared/items_images_sliders', :model => @city   
