%p#notice= notice

%p
  %b نام شهر
  = @city.title
%p
  %b نام کشور
  = @city.country.title
%p
  %b توضیحات
  =raw @city.text
.row-fluid
  - @city.photos.each do |pic|
    .span6
      = image_tag pic.image(:medium)

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
