%h1 صفحات متنی
- if is_admin?
  = link_to 'صفحه جدید', new_page_path, :class => "btn"
%table.table
  %tr
    %th عنوان        
    %th عملیات
    

  - @pages.each do |page|
    %tr
      %td= page.title      
      %td
        = link_to 'Show', page
        \|
        = link_to 'Edit', edit_page_path(page)
        \|
        = link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }




