.margin3 
  - if is_admin?
    = link_to 'ویرایش', edit_page_path(@page), :class => "btn btn-info"
  %h2{ :class => I18n.locale }= t('radantravel')    
  .col-xs-12= raw @page.text
  .col-xs-12
    - if @page.image.present?
      .col-xs-7= image_tag @page.image(:medium)
      .clear-float
  .keywords.full-width
    %p= t('Keywords.title')
    %ul.tag-cloud.full-width{:class => I18n.locale}
      %li.tag-cloud
        = link_to t('radantravel'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.a'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.b'), '/'              
      %li.tag-cloud
        = link_to t('Keywords.s'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.w'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.c'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.d'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.f'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.g'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.h'), Sight
      %li.tag-cloud
        = link_to t('Keywords.l'), Sight
      %li.tag-cloud
        = link_to t('Keywords.m'), Sight
      %li.tag-cloud
        = link_to t('Keywords.n'), Sight
      %li.tag-cloud
        = link_to t('Keywords.e'), '/' 
      %li.tag-cloud
        = link_to t('Keywords.p'), '/' 
  
  
