%p#notice= notice

%p
  %b Description fa:
  = @photo.description_fa
%p
  %b Description en:
  = @photo.description_en
%p
  %b Description ar:
  = @photo.description_ar
%p
  %b Sight:
  = @photo.sight_id

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
